#index-team {
  .div-flag {
    width: 50px;
    margin-right: 15px;
    text-align: center;
    display: flex;
    
    .flag {
      height: 20px;
      margin: auto;
    }

  }
}

.new-team {
  .short_name {
    text-transform: uppercase;
  }
}
