#index-team {

  .teams
  {
    li.collection-header {
      display: flex;

      h4 {
        width: 100%;
        text-align: center;
        font-size: 4rem;
      }

      a {
        float: right;
        margin: auto;

        i {
          font-size: 35px;
        }
      }
    }

    li.my-selection {
      color: blue;
    }

    li.collection-item {
      display: flex;
      line-height: 2rem;

      .flag {
        height: 20px;
        margin: auto 15px auto 0;
      }

      .nation_name {
        width: 100%;
        font-size: 2rem;
      }

      .secondary-content {
        color: red;
      }
    }
  }
}

.new-team {
  .short_name {
    text-transform: uppercase;
  }
}
