%nav
  .nav-wrapper
    %ul#nav-mobile.left.hide-on-med-and-down
      %li
        %a{href: root_path }
          %i.material-icons home
      %li
        = link_to 'Nations', teams_path
      %li
        = link_to 'Athlètes', athletes_path

    %ul#nav-mobile.right.hide-on-med-and-down
      %li
        %a{ onclick: "changeEditMode();" }
          %i.material-icons edit
